[Unit]
Description=Button Tor
After=tor.service

[Service]
Type=idle

ExecStart=/root/tor_leds_button/venv/bin/python /root/tor_leds_button/button.py

[Install]
WantedBy=multi-user.target
